*.o
*.lo
*.so
*.beam
*.swp
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
Makefile
Makefile.in
erl_crash.dump

src/.deps/
src/.libs/
src/eep0018_drv.la
stamp-h1
